<a href="https://colab.research.google.com/github/2303A51132/AIML-2025BT17-18/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

part 1- implement Basic Data Structures using Numpy,Pandas

In [5]:
import numpy as np
import pandas as pd

# Lists
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
print("Type of list1:", type(list1))
print("Type of list2:", type(list2))

# Arrays
array1 = np.array([1, 2, 3, 4])
array2 = np.array([5, 6, 7, 8])
print("Type of array1:", type(array1))
print("Type of array2:", type(array2))

# Mathematical operations
multiplication = array1 * array2
division = array1 / array2
poweroff = np.power(array1, 2)

print("Multiplication:\n", multiplication)
print("Division:\n", division)
print("Poweroff:\n", poweroff)

# Combine text with NumPy functions
addition_output = f"Addition of Two:\n{array1 + array2}"
print(addition_output)

# NumPy functions
sine_values = np.sin(array1)
log_values = np.log(array1 + 1)
log2_values = np.log2(array1 + 1)
exp_values = np.exp(array1)

print("Sine values:\n", sine_values)
print("Log values:\n", log_values)
print("Log2 values:\n", log2_values)
print("Exp values:\n", exp_values)

# Pandas DataFrames
df1 = pd.DataFrame({'A': array1, 'B': array2})
df2 = pd.DataFrame({'C': [10, 20, 30, 40]})
df_combined = pd.concat([df1, df2], axis=1)

print("DataFrame 1:\n", df1)
print("DataFrame 2:\n", df2)
print("Combined DataFrame:\n", df_combined)

Type of list1: <class 'list'>
Type of list2: <class 'list'>
Type of array1: <class 'numpy.ndarray'>
Type of array2: <class 'numpy.ndarray'>
Multiplication:
 [ 5 12 21 32]
Division:
 [0.2        0.33333333 0.42857143 0.5       ]
Poweroff:
 [ 1  4  9 16]
Addition of Two:
[ 6  8 10 12]
Sine values:
 [ 0.84147098  0.90929743  0.14112001 -0.7568025 ]
Log values:
 [0.69314718 1.09861229 1.38629436 1.60943791]
Log2 values:
 [1.         1.5849625  2.         2.32192809]
Exp values:
 [ 2.71828183  7.3890561  20.08553692 54.59815003]
DataFrame 1:
    A  B
0  1  5
1  2  6
2  3  7
3  4  8
DataFrame 2:
     C
0  10
1  20
2  30
3  40
Combined DataFrame:
    A  B   C
0  1  5  10
1  2  6  20
2  3  7  30
3  4  8  40